:root {
	/* https://coolors.co/adbca5-e8b9ab-e09891-cb769e-8c5f66-230007 */
	--laurel-green: #bac5b5;
	--melon: #eee5e2;
	--pastel-pink: #ebd7d6;
	--wild-orchid: #e1b7cb;
	--mauve-taupe: #b16873;
	--dark-sienna: #47000e;
	--dread-gray: #3f3d56;
}

a {
	color: var(--mauve-taupe);
}
blockquote {
	line-height: 2rem;
}

body {
	display: grid;
	font-size: 16px;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: auto;
	grid-template-areas: ". header ." ". main ." ". footer .";
	font-family: "Noto Sans", "Noto Sans CJK KR", sans-serif;
}

details {
	background-color: var(--melon);
	border-radius: .5rem;
	padding: .5rem;
}

header {
	grid-area: header;
	margin-top: 1rem;
}

main {
	grid-area: main;
}

footer {
	grid-area: footer;
	margin-bottom: 1rem;
	margin-top: 1rem;
	text-align: center;
}

select {
	background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right var(--melon);
	background-position-x: 6.5rem;
	border: 0;
	border-color: var(--mauve-taupe);
	border-radius: 5px;
	font-size: 1rem;
	height: 2rem;
	line-height: 1;
	padding: 5px;
	width: 8rem;
	-webkit-appearance: none;
}

table,
tr,
td { 
	text-align: center;
	border-collapse: collapse;
	border: 1px solid black;
	padding: .25rem;
}

th {
	padding: 1rem;
}
/* CLASSES */

.diagram {
	height: auto;
	width: 90%;
}

.depiction {
	height: auto;
	width: 50%; 
}

.distress {
	color: var(--mauve-taupe);
	font-size: 1.5rem;
	font-weight: bold;
	padding: .25rem;
}

.grid-fifty-fifty {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	body {
		grid-template-columns: 3% 94% 3%;
	}

	nav {
		font-size: 0.9rem;
	}

	#logo {
		width: 20px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	body {
		grid-template-columns: 5% 90% 5%;
	}

	nav {
		font-size: 1rem;
	}

	#logo {
		width: 24px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	body {
		grid-template-columns: 12.5% 75% 12.5%;
	}

	nav {
		font-size: 1.1rem;
	}

	#logo {
		width: 28px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body {
		grid-template-columns: 20% 60% 20%;
	}

	nav {
		font-size: 1.2rem;
	}

	#logo {
		width: 28px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	body {
		grid-template-columns: 25% 50% 25%;
	}

	nav {
		font-size: 1.3rem;
	}
}
